@charset 'utf-8';
@import 'normalize';
/*!

Regular CSS by Say Hello GmbH - sayhello.ch

*/
body,
html {
    margin: 0;
    padding: 0;
    color: #111;
    font-family: -apple-system, linkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: inherit;
}

img {
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
}

.c-posttopdf {
    margin: 0 auto;
    max-width: 40rem;

    &__title {
        font-size: 2rem;
        line-height: 1.2;
        margin: 1rem 0;
    }

    &__subtitle {
        font-size: 0.85rem;
        line-height: 1.2;
        margin: 1rem 0 2rem;
        color: gray;
    }

    &__footer {
        margin: 0;
        color: gray;
    }

    &__thumbnail {
        display: block;
        width: 100%;
        margin: 1rem 0;
    }
}